    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
    }

     // if you use steam you will probably like these
    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating true
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    window-rule {
       match app-id="com.github.th-ch.youtube-music"
       min-height 550
    }

    window-rule {
       match app-id="com.mitchellh.ghostty"
       min-height 550
       min-width 450
    }

    window-rule {
       match app-id="helium"
       min-height 750
       min-width 450
    }

// Disable blur below bar
layer-rule {
  match namespace="^noctalia-bar"
  background-effect {
    blur false
  }
}
