@import url("../../.cache/wal/colors-waybar.css");

* {
    font-family: Iosevka Nerd Font Mono, monospace;
    font-size: 12px;
    color: @foreground;
    transition: all 0.05s ease-out;
}

*:hover {
    color: alpha(@color1, 0.7);
}

window#waybar, .modules-center {
    background-color: alpha(@background, 0);
    border-radius: 10px;
}

 .modules-left, .modules-right, #mpris, #custom-bartib {
  padding: 2px 7px;
  background-color: alpha(@background, 1);
  border-radius: 10px;
  transition: all 0.5s;
}


label.module {
    padding: 0px 3px;
}

#clock {
  font-size: 1.2em;
}

#workspaces button {
    padding: 2px 1px;
  transition: all 0.1s linear;
}

#workspaces button * {
    font-size: 1.2em;
  transition: color 0.15s ease-out;
  }

#workspaces button.active {
}

#workspaces button.active * {
  color: @color1;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  outline: none;
}

@keyframes pulseColor {
  0%   { color: alpha(@color1, 0.7); }
  25%  { color: alpha(@color2, 0.7); }
  50%  { color: alpha(@color3, 0.7); }
  75%  { color: alpha(@color4, 0.7); }
  100% { color: alpha(@color5, 0.7); }
}

#mpris:not(.paused) {
  animation: pulseColor 20s infinite alternate;
}

#mpris {
    font-style: italic;
    font-size: 0.9em;
}



#language {
    font-style: italic;
    color: alpha(@foreground, 0.7);
    font-size: 0.9em;
}

@keyframes blink {
    to {
        color: @color1;
    }
}

#battery.warning:not(.charging) {
    background: @foreground;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-shutdown {
margin-left: 7px;
font-size:1.3em;
}

#custom-bartib {
  font-size: 1.8em;
}
