@import url("../../.cache/wal/colors-waybar.css");

* {
    font-family: Iosevka Nerd Font Mono, monospace;
    font-size: 10px;
    color: @foreground;
    transition: all 0.05s ease-out;
    border-radius: 0px;
}

*:hover {
    color: alpha(@color1, 0.7);
}

window#waybar, .modules-center {
    background-color: alpha(@background, 0);
}

 .modules-left, .modules-right {
  padding: 2px 7px;
  margin-bottom: 10px;
  background-color: alpha(@background, 1);
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.5s;
}

#widget, #mpris {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: alpha(@background, 1);
  border-radius: 10px;
  transition: all 0.5s;
}

tooltip {
  background-color: alpha(@background, 1);
  border-radius: 10px;
  border: 1px solid alpha(@foreground, 0.4);
}
tooltip label {
  font-size: 1.2em;
  color: white;
}

label.module {
    padding: 0px 3px;
}

#clock {
  font-size: 1.4em;
}

#workspaces button {
    padding: 2px 1px;
    transition: all 0.1s linear;
}

#workspaces button * {
    font-size: 1.2em;
    transition: color 0.15s ease-out;
  }

#workspaces button.active * {
  color: @color1;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  outline: none;
}

@keyframes pulseColor {
  0%   { color: alpha(@color1, 0.7); }
  25%  { color: alpha(@color2, 0.7); }
  50%  { color: alpha(@color3, 0.7); }
  75%  { color: alpha(@color4, 0.7); }
  100% { color: alpha(@color5, 0.7); }
}

#mpris:not(.paused) {
  animation: pulseColor 20s infinite alternate;
}

#mpris {
    font-style: italic;
    font-size: 0.7rem;
}



#language {
    font-style: italic;
    color: alpha(@foreground, 0.7);
    font-size: 0.9em;
}

#network {
  font-size: 1.1rem;
}

@keyframes blink {
    to {
        color: @color1;
    }
}

#battery.warning:not(.charging) {
    background: @foreground;
    color: white;
    border-radius: 10px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-shutdown {
  margin-left: 7px;
  font-size:1.3em;
}

#custom-bartib {
  font-size: 1.8em;
}

#custom-spacer1 {
  margin: 0.2em;
  color: alpha(@foreground, 0.4);
}

#custom-menustart {
  margin: 0em 1em 0em 0.5em;
  color: alpha(@foreground, 0.4);
  font-size: 0.7em;
}

#custom-script1 {
  font-size: 2em;
}
